<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome back {{ userFullName }}!
  </div>

  <!--routerLink="/login" -->

  <button
    *ngIf="!(authService.isAuthenticated$ | async)"
    (click)="authService.loginWithPopup()"
    class="security-btn"
  >
    Login
  </button>

  <button
    *ngIf="authService.isAuthenticated$ | async"
    (click)="authService.logout()"
    class="security-btn"
  >
    Logout
  </button>

  <button
    *ngIf="authService.isAuthenticated$ | async"
    routerLink="/members"
    class="security-btn ms-1"
  >
    Member
  </button>

  <button
  *ngIf="authService.isAuthenticated$ | async"
  routerLink="/order-history"
  class="security-btn ms-1"
>
  Orders
</button>

</div>
